<div id="<%= dom_id record %>">
  <p>
    <strong>Checkin:</strong>
    <%= record.checkin %>
  </p>

  <p>
    <strong>Checkout:</strong>
    <%= record.checkout %>
  </p>

  <p>
    <strong>Lunch start:</strong>
    <%= record.lunch_start %>
  </p>

  <p>
    <strong>Lunch end:</strong>
    <%= record.lunch_end %>
  </p>

  <p>
    <strong>Observations:</strong>
    <%= record.observations %>
  </p>

</div>
